/* Geral*/

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: hsl(170, 100%,26%);
    --headline: hsl(210, 11%, 15%);
    --secondary: hsl(210, 9%, 31%);

    --button-color: rgb(126, 245, 126);
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(171, 29%, 74%);
    font-size: 62.5%; /*1 rem = 10px */


    --nav-height: 7.2rem;
}
body {
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
}

.wrapper{
    width: 37.5rem;
    margin-inline: auto;
    padding: 2.4rem;
    

}

/*===== header=========================

*/
header { 
    margin-top: calc(4.1rem + var(--nav-height));

    /*padding-right: 2rem;
    padding-left: 2rem;
    pixel da borda 
    
    propriedades: border,width, height,  

    magin- espasamento externo
    padding- espasamento interno*/
}

header::before {

    content: "";
    width: 100vw;
    height: calc(108rem + var(--nav-height));
    background-color: var(--brand-light);
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;


}


header h4 {
    font-size: 1rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

header h1 {
    font-size: 3.4rem;
    line-height: 130%;
    color: var(--headline);
    margin-bottom: 2.4rem;

}

header p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--secondary);

    margin-bottom: 3.2rem;


}
header button {
    background: var(--button-color);
    border-radius: 4rem;
   
    cursor: pointer; 
    margin-top: 1rem;
    margin-bottom: 6rem;
    
    border: 1px solid #000;

    height: 6.2rem;
    width: 26.3rem;

    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    
    margin-right: auto;
    margin-left: auto;
}

header img {

    width: 26.4rem;
    display:block;
    margin-inline: auto;
    object-position: 0 2rem;
}

.stats {
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;
    
    background-color: var(--brand-beige);
    border: 1px solid var(--band-light);
    border-radius: 6px;


    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 6rem;

    
}

.stat h3 {
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 160%;

    margin-bottom: 0.4rem;

}

.stat p {
    margin: 0;
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 150%;
}



/*===== Navigation=========================*/

nav {
    display: flex;


    height: var(--nav-height);

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav.wrapper{
    display: flex;
    align-items: centrer;
    justify-content: space-between;
}


nav.scroll {
    background: var(--primary-color);
    width: 100vw;


}

nav.scroll svg:nth-child(1) path {
    fill: white;

}
nac.scroll svg:nth-child(2) path {
    stroke: white;
}